<p>Help Us to know you better !!!</p>
<p>let us know how to improve the Gordon Mobile App better.</p>
<textarea></textarea>
<button type="button" class="clickable submit-btn" id="thankYou">Submit</button>