<p>How likely is it that you would recommend Gordon App to your colleague ? </p>
<div class="radio-rating">
    <div class="radio-wrapper">
        <div>
        <input type="radio" name="gender" value="male" id="1"> 
        <label for="1">1</label>
        </div>
        <div>
        <input type="radio" name="gender" value="female" id="2"> 
        <label for="2">2</label>
        </div>
        <div>
        <input type="radio" name="gender" value="other" id="3"> 
        <label for="3">3</label>
        </div>
        <div>
        <input type="radio" name="gender" value="other" id="4"> 
        <label for="4">4</label>
        </div>
        <div>
        <input type="radio" name="gender" value="other" id="5"> 
        <label for="5">5</label>
        </div>
    </div>
    <button type="button" class="clickable submit-btn" id="thankYou">Submit</button>
</div>