<div class="main-section-wrapper">
    <p>Do you like our latest Gordon Mobile App</p>
    <div class="like-unlike-wrapper">
        <a href="#." class="clickable" id="likeBestPart"><i class="fa fa-thumbs-o-up"></i></a>
        <a href="#." class="clickable" id="dislikeQuestion"><i class="fa fa-thumbs-o-down"></i></a>
    </div>
</div>